<%- include('include/head.ejs') %>
</head>

<body>
    <%- include('include/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for inconvenience!</p>

<%- include('include/end.ejs') %>
